#local test final
archive/
Dangerpic/
ImageSamples/
SpecialImage/
TrainedModel/
tests/
venv/
.idea/
*__pycache__
demo/
testimg/

# model and data
checkpoint/*.pth
data/samples/*

# IDE
.vscode/
.idea/

# logging
*.log